body {
    color: #34393e;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word
}

/* HEADINGS */

h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.8;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.8;
}

h5 {
    font-size: 14px;
    padding: 10px 0px;
}

article h1, article h2, article h3, article h4 {
    margin-top: 35px;
    margin-bottom: 15px;
}

article h4 {
    padding-bottom: 8px;
    border-bottom: 2px solid #ddd;
}

/* NAVBAR */

.navbar-brand>img {
    color: #fff;
}

.navbar {
    border: none;
    /* Both navbars use box-shadow */
    -webkit-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
    box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.5);
}

.subnav {
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.navbar-inverse {
    background-color: #001970;
    z-index: 100;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #fff;
    background-color: #001970;
    border-bottom: 3px solid transparent;
    padding-bottom: 12px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #001970;
    border-bottom: 3px solid white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #001970;
    border-bottom: 3px solid white;
}

.navbar-form .form-control {
    border: none;
    border-radius: 20px;
}

/* SIDEBAR */

.toc .level1>li {
    font-weight: 400;
}

.toc .nav>li>a {
    color: #34393e;
}

.sidefilter {
    background-color: #fff;
    border-left: none;
    border-right: none;
}

.sidefilter {
    background-color: #fff;
    border-left: none;
    border-right: none;
}

.toc-filter {
    padding: 10px;
    margin: 0;
}

.toc-filter>input {
    border: 2px solid #ddd;
    border-radius: 20px;
}

.toc-filter>.filter-icon {
    display: none;
}

.sidetoc>.toc {
    background-color: #fff;
    overflow-x: hidden;
}

.sidetoc {
    background-color: #fff;
    border: none;
}

/* ALERTS */

.alert {
    padding: 0px 0px 5px 0px;
    color: inherit;
    background-color: inherit;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(100, 100, 100, 0.4);
}

.alert>p {
    margin-bottom: 0;
    padding: 5px 10px;
}

.alert>ul {
    margin-bottom: 0;
    padding: 5px 40px;
}

.alert>h5 {
    padding: 10px 15px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}

.alert-info>h5 {
    color: #1976d2;
    border-bottom: 4px solid #1976d2;
    background-color: #e3f2fd;
}

.alert-warning>h5 {
    color: #f57f17;
    border-bottom: 4px solid #f57f17;
    background-color: #fff3e0;
}

.alert-danger>h5 {
    color: #d32f2f;
    border-bottom: 4px solid #d32f2f;
    background-color: #ffebee;
}

/* CODE HIGHLIGHT */

pre {
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fffaef;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 1px rgba(100, 100, 100, 0.4);
}

/*******************************************************************************************************************/

/* Copyright (c) Microsoft Corporation. All Rights Reserved. Licensed under the MIT License. See License.txt in the project root for license information. */

/* Colors */
/* 
button, a, .btn-primary {
    color: #47A7A0;
} */
/* 
.btn-primary:hover, .btn-primary:focus, button:hover, button:focus, a:hover, a:focus, .toc .nav>li.active>a:hover, .toc .nav>li.active>a:focus, .toc .nav>li>a:hover, .toc .nav>li>a:focus {
    color: #6E8B60;
}

.btn-primary.disable, .btn-primary.disable:hover, a.disable, a.disable:hover {
    color: #90ABB9;
} */

.btn-primary:hover, .btn-primary:focus, button:hover, button:focus, a:hover, a:focus, .toc .nav>li.active>a:hover, .toc .nav>li.active>a:focus, .toc .nav>li>a:hover, .toc .nav>li>a:focus {
    color: #6E8B60;
}

.hero {
    color: #ffffff;
    background: #303f9f;
    /* background: radial-gradient(ellipse at center, #474747 0%, #232323 100%);     */
    /* background-color: #6e0009;
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #000), color-stop(100%, #385361));
    background-image: -webkit-linear-gradient(45deg, #000 0, #385361 100%);
    background-image: -moz-linear-gradient(45deg, #000 0, #385361 100%);
    background-image: -ms-linear-gradient(45deg, #000 0, #385361 100%);
    background-image: -o-linear-gradient(45deg, #000 0, #385361 100%);
    background-image: linear-gradient(45deg, #000 0, #385361 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#385361', GradientType=1); */
}

.hero strong {
    color: #e7e7e7;
}

.buttons-unit .button {
    color: #fff;
    background: #1976d2;
}

.hero .buttons-unit a:hover {
    color: #fff;
}

.buttons-unit .button:active {
    background: #63a4ff;
}
/*
.toc .nav>li.active>a, .affix ul>li.active>a, .affix ul>li.active>a:before {
    color: #6E8B60
}

.btn-primary {
    background: #385361;
    color: #8BFEB4;
}

.affix ul>li>a:before {
    color: #cccccc;
}

.toc .nav>li>a, .affix ul>li>a, .affix ul>li>a:hover {
    color: #666666;
} */

svg:hover path {
    fill: #ffffff;
}

.counter-key-section {
    border: 2px solid #6E8B60;
    -webkit-border-image-source: -webkit-gradient(linear, left, right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, #385361), color-stop(100%, rgba(0, 0, 0, 0)));
    -webkit-border-image-source: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    -moz-border-image-source: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    -ms-border-image-source: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    -o-border-image-source: -o-linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0), #385361 50%, rgba(0, 0, 0, 0));
    border-image-slice: 1;
}

/* End Colors */

.value-prop-heading {
    font-size: 24px;
}

#vp-container {
    margin-top: 30px;
}

.hero a {
    color: #fff;    
}

.hero a:hover {
    color: #63a4ff;
}

.hero {
    height: 350px;
    margin-top: 50px;
    padding-top: 50px;
    font-weight: 300;
    text-align: center;
}

.key-section {
    padding: 30px 0;
}

.key-section .glyphicon, .counter-key-section .glyphicon {
    font-size: 4em;
    display: table-cell;
    vertical-align: middle;
}

.glyphicon {
    margin-right: 10px;
    font-size: 16px;
}

.key-section section, .counter-key-section section {
    display: table-cell;
    padding-left: 20px;
}

.key-section section p, .counter-key-section section p {
    text-align: initial;
}

.counter-key-section {
    padding: 30px 0;
}

.buttons-unit-small {
    font-size: 16px;
}

.version-link, .github-link {
    margin: 5px;
}

.hero strong {
    font-weight: 400;
    /* font-family: Rockwell; */
}

.hero .text {
    font-size: 64px;
    text-align: center;
}

.hero .minitext {
    font-size: 20px;
    text-align: center;
    font-family: Candara;
}

.buttons-unit {
    margin-top: 60px;
    text-align: center;
}

.hero .button {
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 12px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.buttons-unit .button {
    font-size: 24px;
}

@media only screen and (max-width: 768px) {
    .hero {
        height: 500px;
        margin-top: 0px;
    }
    .hero .button {
        display: block;
        margin: 12px;
    }
}


@media (min-width:1400px){.container{width:1370px}
@media (min-width:1600px){.container{width:1570px}
